Flask==3.0.3
azure-storage-blob==12.22.0
python-dotenv==1.0.1
pandas==2.2.2
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
werkzeug==3.0.3
gunicorn==22.0.0
snowflake-connector-python==3.17.4
plotly==5.24.1
